<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


    <servlet>
        <!--这是spring的核心控制器，会调用spring-mvc.xml-->
        <servlet-name>DispatcherServlet</servlet-name>
        <!--
            一个特殊的Servlet
            在Spring—web包中，对比之前的Servlet，就好像SpringMVC给我们定了一个Servlet实现类
        -->
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 在Servlet启动的时候加载配置文件 -->
        <init-param><!--初始化参数-->
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:spring-mvc.xml</param-value><!--从类路径下加载这个-->
        </init-param>
    </servlet>

    <!--映射路径-->
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>



    <!--使用Servlet的方式Controller-->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.itheima.web.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>

</web-app>
